In [25]:
import pandas as pd
import pandas.tseries.offsets as offsets

In [26]:
tourism_train = pd.read_csv("../data/train.tsv",delimiter="\t")
print(tourism_train.shape)
tourism_train.head(20)

(5848, 3)

      datetime        park  visitors
0   2015-01-01    阿寒摩周国立公園     11028
1   2015-01-01  十和田八幡平国立公園     34757
2   2015-01-01      日光国立公園     29714
3   2015-01-01    伊勢志摩国立公園     42652
4   2015-01-01    大山隠岐国立公園      3637
5   2015-01-01  阿蘇くじゅう国立公園      1369
6   2015-01-01   霧島錦江湾国立公園     35352
7   2015-01-01   慶良間諸島国立公園       151
8   2015-01-02    阿寒摩周国立公園     11153
9   2015-01-02  十和田八幡平国立公園     33795
10  2015-01-02      日光国立公園     27011
11  2015-01-02    伊勢志摩国立公園     47035
12  2015-01-02    大山隠岐国立公園      3244
13  2015-01-02  阿蘇くじゅう国立公園      1643
14  2015-01-02   霧島錦江湾国立公園     29856
15  2015-01-02   慶良間諸島国立公園       657
16  2015-01-03    阿寒摩周国立公園     12343
17  2015-01-03  十和田八幡平国立公園     17114
18  2015-01-03      日光国立公園     22247
19  2015-01-03    伊勢志摩国立公園     45368

In [ ]:
#観光及び国立公園に関連する語句が含まれる投稿の2015/01/01～2017/12/30までの日別件数（ブログ・twitter・掲示板）データ。
sns = pd.read_csv("../data/nig.tsv",delimiter="\t")

In [4]:
#日光国立公園区画内のSNSロケーション解析データ投稿数データ。
locsns = pd.read_csv("../data/nightley.tsv",delimiter="\t")
print(locsns.shape)
locsns.head()

(730, 3)

     datetime  Japan_count  Foreign_count
0  2016-01-01           28              0
1  2016-01-02           66              1
2  2016-01-03           75              6
3  2016-01-04           50              1
4  2016-01-05           25              0

In [5]:
visitors = pd.read_csv("../data/colopl.tsv",delimiter="\t")
print(visitors.shape)
visitors.head()

(1701, 5)

   year  month      park country_jp count
0  2016      1  阿寒摩周国立公園    アメリカ合衆国   1-9
1  2016      1  阿寒摩周国立公園     シンガポール   1-9
2  2016      1  阿寒摩周国立公園      マレーシア   1-9
3  2016      1  阿寒摩周国立公園         中国   1-9
4  2016      1  阿寒摩周国立公園         台湾    19

In [6]:
#国立公園周辺12地点の気象観測データ。
weather = pd.read_csv("../data/weather.tsv",delimiter="\t")
print(weather.shape)
weather.head()

(13140, 24)

,年月日,地点,平均気温(℃),最高気温(℃),最低気温(℃),降水量の合計(mm),10分間降水量の最大(mm),日照時間(時間),合計全天日射量(MJ/㎡),最深積雪(cm),...,最多風向(16方位),平均蒸気圧(hPa),平均現地気圧(hPa),平均湿度(%),平均海面気圧(hPa),最小相対湿度(%),最低海面気圧(hPa),平均雲量(10分比),天気概況(昼:06時~18時),天気概況(夜:18時~翌日06時)
0,2015/1/1,十和田,-1.9,0.3,-2.9,5.0,1.0,2.1,NaN,18.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015/1/2,十和田,-3.9,-1.1,-8.0,0.0,0.0,3.3,NaN,17.0,...,西北西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015/1/3,十和田,-4.0,-1.6,-8.9,2.0,0.5,1.4,NaN,21.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015/1/4,十和田,0.6,3.4,-1.6,0.0,0.0,2.6,NaN,19.0,...,南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015/1/5,十和田,0.8,5.4,-5.1,0.0,0.0,4.0,NaN,14.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#防災科学技術研究所 ⼤⼭鏡ヶ成積雪気象観測施設における積雪気象観測データ。
snow = pd.read_csv("../data/nied_oyama.tsv",delimiter="\t")
print(snow.shape)
snow.head()

(12780, 5)

                    日時  積雪深(cm)  積雪深重量(kg m^-2)  気温(℃)  降水量(mm h-1)
0  2015-01-01 00:00:00     99.3           305.1   -4.8          1.0
1  2015-01-01 01:00:00    101.9           308.3   -4.8          1.0
2  2015-01-01 02:00:00    102.5           310.3   -5.3          0.0
3  2015-01-01 03:00:00    101.8           310.6   -5.5          0.0
4  2015-01-01 04:00:00    101.9           311.1   -6.1          0.5

In [8]:
#各国立公園付近エリア単位の「平均人口」の集計値データ
year = 2017
month = 3
population_dic = {}
population_dic[(year, month)] = pd.read_csv("../data/month_time_mesh100m_"+str(year)+"0"+str(month)+".tsv",delimiter="\t")
print(population_dic[(year, month)].shape)
population_dic[(year, month)].head(30)

(265735, 7)

        park   mesh100mid  year  month  dayflag  hour  population
0   伊勢志摩国立公園  51362395334  2017      3        0    16           4
1   伊勢志摩国立公園  51362395334  2017      3        1     9          11
2   伊勢志摩国立公園  51362395334  2017      3        2     9           8
3   伊勢志摩国立公園  51362395334  2017      3        2    16           1
4   伊勢志摩国立公園  51362396400  2017      3        1     0          47
5   伊勢志摩国立公園  51362396400  2017      3        1     1          97
6   伊勢志摩国立公園  51362396400  2017      3        1     2          97
7   伊勢志摩国立公園  51362396400  2017      3        1     3          97
8   伊勢志摩国立公園  51362396400  2017      3        1     4          97
9   伊勢志摩国立公園  51362396400  2017      3        1     5          97
10  伊勢志摩国立公園  51362396400  2017      3        1     6          52
11  伊勢志摩国立公園  51362396400  2017      3        1     8          47
12  伊勢志摩国立公園  51362396400  2017      3        1     9           2
13  伊勢志摩国立公園  51362396400  2017      3        2     0          33
14  伊勢志摩国立公園  51362396400  2017      3        2     1          69
15  伊勢志摩国立公園  51362396400  2017      3        2     2          69
16  伊勢志摩国立公園  51362396400  2017      3        2     3          69
17  伊勢志摩国立公園  51362396400  2017      3        2     4          69
18  伊勢志摩国立公園  51362396400  2017      3        2     5          69
19  伊勢志摩国立公園  51362396400  2017      3        2     6          37
20  伊勢志摩国立公園  51362396400  2017      3        2     8          33
21  伊勢志摩国立公園  51362396400  2017      3        2     9           1
22  伊勢志摩国立公園  51362396410  2017      3        1     6          45
23  伊勢志摩国立公園  51362396410  2017      3        1     7          97
24  伊勢志摩国立公園  51362396410  2017      3        1     8          50
25  伊勢志摩国立公園  51362396410  2017      3        1     9          95
26  伊勢志摩国立公園  51362396410  2017      3        1    10          97
27  伊勢志摩国立公園  51362396410  2017      3        1    11          97
28  伊勢志摩国立公園  51362396410  2017      3        1    12          97
29  伊勢志摩国立公園  51362396410  2017      3        1    13          97

In [9]:
isesima = tourism_train.loc[tourism_train["park"] == "伊勢志摩国立公園",]
print(isesima.shape)
isesima.to_csv("../data/isesima.csv",index=False)
isesima.head()

(731, 3)

      datetime      park  visitors
3   2015-01-01  伊勢志摩国立公園     42652
11  2015-01-02  伊勢志摩国立公園     47035
19  2015-01-03  伊勢志摩国立公園     45368
27  2015-01-04  伊勢志摩国立公園     34960
35  2015-01-05  伊勢志摩国立公園     17740

In [10]:
towada = tourism_train.loc[tourism_train["park"] == "十和田八幡平国立公園",]
print(towada.shape)
towada.to_csv("../data/towada.csv",index=False)
towada.head()

(731, 3)

      datetime        park  visitors
1   2015-01-01  十和田八幡平国立公園     34757
9   2015-01-02  十和田八幡平国立公園     33795
17  2015-01-03  十和田八幡平国立公園     17114
25  2015-01-04  十和田八幡平国立公園      9306
33  2015-01-05  十和田八幡平国立公園      4732

In [11]:
nikko = tourism_train.loc[tourism_train["park"] == "日光国立公園",]
print(nikko.shape)
nikko.to_csv("../data/nikko.csv",index=False)
nikko.head()

(731, 3)

      datetime    park  visitors
2   2015-01-01  日光国立公園     29714
10  2015-01-02  日光国立公園     27011
18  2015-01-03  日光国立公園     22247
26  2015-01-04  日光国立公園     12236
34  2015-01-05  日光国立公園      6571

In [12]:
akan = tourism_train.loc[tourism_train["park"] == "阿寒摩周国立公園",]
print(akan.shape)
akan.to_csv("../data/akan.csv",index=False)
akan.head()

(731, 3)

      datetime      park  visitors
0   2015-01-01  阿寒摩周国立公園     11028
8   2015-01-02  阿寒摩周国立公園     11153
16  2015-01-03  阿寒摩周国立公園     12343
24  2015-01-04  阿寒摩周国立公園      6732
32  2015-01-05  阿寒摩周国立公園      4877

In [13]:
ooyama = tourism_train.loc[tourism_train["park"] == "大山隠岐国立公園",]
print(ooyama.shape)
ooyama.to_csv("../data/ooyama.csv",index=False)
ooyama.head()

(731, 3)

      datetime      park  visitors
4   2015-01-01  大山隠岐国立公園      3637
12  2015-01-02  大山隠岐国立公園      3244
20  2015-01-03  大山隠岐国立公園      1927
28  2015-01-04  大山隠岐国立公園       880
36  2015-01-05  大山隠岐国立公園       135

In [14]:
aso = tourism_train.loc[tourism_train["park"] == "阿蘇くじゅう国立公園",]
print(aso.shape)
aso.to_csv("../data/aso.csv",index=False)
aso.head()

(731, 3)

      datetime        park  visitors
5   2015-01-01  阿蘇くじゅう国立公園      1369
13  2015-01-02  阿蘇くじゅう国立公園      1643
21  2015-01-03  阿蘇くじゅう国立公園       967
29  2015-01-04  阿蘇くじゅう国立公園       324
37  2015-01-05  阿蘇くじゅう国立公園       100

In [15]:
kirisima = tourism_train.loc[tourism_train["park"] == "霧島錦江湾国立公園",]
print(kirisima.shape)
kirisima.to_csv("../data/kirisima.csv",index=False)
kirisima.head()

(731, 3)

      datetime       park  visitors
6   2015-01-01  霧島錦江湾国立公園     35352
14  2015-01-02  霧島錦江湾国立公園     29856
22  2015-01-03  霧島錦江湾国立公園     27027
30  2015-01-04  霧島錦江湾国立公園     12993
38  2015-01-05  霧島錦江湾国立公園      8112

In [16]:
kerama = tourism_train.loc[tourism_train["park"] == "慶良間諸島国立公園",]
print(kerama.shape)
kerama.to_csv("../data/kerama.csv",index=False)
kerama.head()

(731, 3)

      datetime       park  visitors
7   2015-01-01  慶良間諸島国立公園       151
15  2015-01-02  慶良間諸島国立公園       657
23  2015-01-03  慶良間諸島国立公園       126
31  2015-01-04  慶良間諸島国立公園        75
39  2015-01-05  慶良間諸島国立公園         0

In [19]:
lag = 8
target = "aso"

data = pd.DataFrame()
data[target] = pd.read_csv("../data/"+target+".csv")["visitors"]
data.index = pd.to_datetime(pd.read_csv("../data/"+target+".csv")["datetime"])
data.head(20)

             aso
datetime
2015-01-01  1369
2015-01-02  1643
2015-01-03   967
2015-01-04   324
2015-01-05   100
2015-01-06     0
2015-01-07    25
2015-01-08     0
2015-01-09    50
2015-01-10   448
2015-01-11   174
2015-01-12     0
2015-01-13    50
2015-01-14    50
2015-01-15   100
2015-01-16   446
2015-01-17   347
2015-01-18    11
2015-01-19     0
2015-01-20     0

In [22]:
feature = pd.DataFrame()
for l in list(range(1,lag+1)):
    feature.loc[:,target + "lag"+str(l)] = data[target].shift(-(lag-l))
feature.loc[:,"y"] = data[target].shift(-lag)
feature.index = feature.index + offsets.Day(lag)
feature

,asolag1,asolag2,asolag3,asolag4,asolag5,asolag6,asolag7,asolag8,y
datetime,,,,,,,,,
2015-01-09,0.0,25.0,0.0,100.0,324.0,967.0,1643.0,1369,50.0
2015-01-10,50.0,0.0,25.0,0.0,100.0,324.0,967.0,1643,448.0
2015-01-11,448.0,50.0,0.0,25.0,0.0,100.0,324.0,967,174.0
2015-01-12,174.0,448.0,50.0,0.0,25.0,0.0,100.0,324,0.0
2015-01-13,0.0,174.0,448.0,50.0,0.0,25.0,0.0,100,50.0
2015-01-14,50.0,0.0,174.0,448.0,50.0,0.0,25.0,0,50.0
2015-01-15,50.0,50.0,0.0,174.0,448.0,50.0,0.0,25,100.0
2015-01-16,100.0,50.0,50.0,0.0,174.0,448.0,50.0,0,446.0
2015-01-17,446.0,100.0,50.0,50.0,0.0,174.0,448.0,50,347.0
2015-01-18,347.0,446.0,100.0,50.0,50.0,0.0,174.0,448,11.0
2015-01-19,11.0,347.0,446.0,100.0,50.0,50.0,0.0,174,0.0
2015-01-20,0.0,11.0,347.0,446.0,100.0,50.0,50.0,0,0.0
2015-01-21,0.0,0.0,11.0,347.0,446.0,100.0,50.0,50,0.0
2015-01-22,0.0,0.0,0.0,11.0,347.0,446.0,100.0,50,50.0
2015-01-23,50.0,0.0,0.0,0.0,11.0,347.0,446.0,100,0.0
2015-01-24,0.0,50.0,0.0,0.0,0.0,11.0,347.0,446,75.0
2015-01-25,75.0,0.0,50.0,0.0,0.0,0.0,11.0,347,0.0
2015-01-26,0.0,75.0,0.0,50.0,0.0,0.0,0.0,11,0.0
2015-01-27,0.0,0.0,75.0,0.0,50.0,0.0,0.0,0,0.0
2015-01-28,0.0,0.0,0.0,75.0,0.0,50.0,0.0,0,0.0
2015-01-29,0.0,0.0,0.0,0.0,75.0,0.0,50.0,0,0.0
2015-01-30,0.0,0.0,0.0,0.0,0.0,75.0,0.0,50,249.0
2015-01-31,249.0,0.0,0.0,0.0,0.0,0.0,75.0,0,668.0
2015-02-01,668.0,249.0,0.0,0.0,0.0,0.0,0.0,75,357.0
2015-02-02,357.0,668.0,249.0,0.0,0.0,0.0,0.0,0,0.0
2015-02-03,0.0,357.0,668.0,249.0,0.0,0.0,0.0,0,211.0
2015-02-04,211.0,0.0,357.0,668.0,249.0,0.0,0.0,0,84.0
2015-02-05,84.0,211.0,0.0,357.0,668.0,249.0,0.0,0,0.0
2015-02-06,0.0,84.0,211.0,0.0,357.0,668.0,249.0,0,169.0
2015-02-07,169.0,0.0,84.0,211.0,0.0,357.0,668.0,249,1728.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,425.0,83.0,0.0,97.0,401.0,410.0,459.0,125,509.0
2016-12-11,509.0,425.0,83.0,0.0,97.0,401.0,410.0,459,194.0
2016-12-12,194.0,509.0,425.0,83.0,0.0,97.0,401.0,410,180.0
2016-12-13,180.0,194.0,509.0,425.0,83.0,0.0,97.0,401,111.0
2016-12-14,111.0,180.0,194.0,509.0,425.0,83.0,0.0,97,129.0
2016-12-15,129.0,111.0,180.0,194.0,509.0,425.0,83.0,0,69.0
2016-12-16,69.0,129.0,111.0,180.0,194.0,509.0,425.0,83,180.0
2016-12-17,180.0,69.0,129.0,111.0,180.0,194.0,509.0,425,351.0
2016-12-18,351.0,180.0,69.0,129.0,111.0,180.0,194.0,509,139.0
2016-12-19,139.0,351.0,180.0,69.0,129.0,111.0,180.0,194,170.0
2016-12-20,170.0,139.0,351.0,180.0,69.0,129.0,111.0,180,172.0
2016-12-21,172.0,170.0,139.0,351.0,180.0,69.0,129.0,111,125.0
2016-12-22,125.0,172.0,170.0,139.0,351.0,180.0,69.0,129,79.0
2016-12-23,79.0,125.0,172.0,170.0,139.0,351.0,180.0,69,714.0
2016-12-24,714.0,79.0,125.0,172.0,170.0,139.0,351.0,180,613.0
2016-12-25,613.0,714.0,79.0,125.0,172.0,170.0,139.0,351,264.0
2016-12-26,264.0,613.0,714.0,79.0,125.0,172.0,170.0,139,111.0
2016-12-27,111.0,264.0,613.0,714.0,79.0,125.0,172.0,170,290.0
2016-12-28,290.0,111.0,264.0,613.0,714.0,79.0,125.0,172,58.0
2016-12-29,58.0,290.0,111.0,264.0,613.0,714.0,79.0,125,500.0
2016-12-30,500.0,58.0,290.0,111.0,264.0,613.0,714.0,79,1018.0
2016-12-31,1018.0,500.0,58.0,290.0,111.0,264.0,613.0,714,1386.0
2017-01-01,1386.0,1018.0,500.0,58.0,290.0,111.0,264.0,613,NaN
2017-01-02,NaN,1386.0,1018.0,500.0,58.0,290.0,111.0,264,NaN
2017-01-03,NaN,NaN,1386.0,1018.0,500.0,58.0,290.0,111,NaN
2017-01-04,NaN,NaN,NaN,1386.0,1018.0,500.0,58.0,290,NaN
2017-01-05,NaN,NaN,NaN,NaN,1386.0,1018.0,500.0,58,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,1386.0,1018.0,500,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,1386.0,1018,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1386,NaN

In [23]:
feature.to_csv("../data/"+target+"l"+str(lag)+".csv")

In [24]:
lag = 8
targets = ["aso","akan","isesima","ooyama","kirisima","kerama","towada","nikko"]

for target in targets:
    data = pd.DataFrame()
    data[target] = pd.read_csv("../data/"+target+".csv")["visitors"]
    data.index = pd.to_datetime(pd.read_csv("../data/"+target+".csv")["datetime"])
    
    feature = pd.DataFrame()
    for l in list(range(1,lag+1)):
        feature.loc[:,target + "lag"+str(l)] = data[target].shift(-(lag-l))
    feature.loc[:,"y"] = data[target].shift(-lag)
    feature.index = feature.index + offsets.Day(lag)
    display(feature)
    feature.to_csv("../data/"+target+"l"+str(lag)+".csv")

,asolag1,asolag2,asolag3,asolag4,asolag5,asolag6,asolag7,asolag8,y
datetime,,,,,,,,,
2015-01-09,0.0,25.0,0.0,100.0,324.0,967.0,1643.0,1369,50.0
2015-01-10,50.0,0.0,25.0,0.0,100.0,324.0,967.0,1643,448.0
2015-01-11,448.0,50.0,0.0,25.0,0.0,100.0,324.0,967,174.0
2015-01-12,174.0,448.0,50.0,0.0,25.0,0.0,100.0,324,0.0
2015-01-13,0.0,174.0,448.0,50.0,0.0,25.0,0.0,100,50.0
2015-01-14,50.0,0.0,174.0,448.0,50.0,0.0,25.0,0,50.0
2015-01-15,50.0,50.0,0.0,174.0,448.0,50.0,0.0,25,100.0
2015-01-16,100.0,50.0,50.0,0.0,174.0,448.0,50.0,0,446.0
2015-01-17,446.0,100.0,50.0,50.0,0.0,174.0,448.0,50,347.0
2015-01-18,347.0,446.0,100.0,50.0,50.0,0.0,174.0,448,11.0
2015-01-19,11.0,347.0,446.0,100.0,50.0,50.0,0.0,174,0.0
2015-01-20,0.0,11.0,347.0,446.0,100.0,50.0,50.0,0,0.0
2015-01-21,0.0,0.0,11.0,347.0,446.0,100.0,50.0,50,0.0
2015-01-22,0.0,0.0,0.0,11.0,347.0,446.0,100.0,50,50.0
2015-01-23,50.0,0.0,0.0,0.0,11.0,347.0,446.0,100,0.0
2015-01-24,0.0,50.0,0.0,0.0,0.0,11.0,347.0,446,75.0
2015-01-25,75.0,0.0,50.0,0.0,0.0,0.0,11.0,347,0.0
2015-01-26,0.0,75.0,0.0,50.0,0.0,0.0,0.0,11,0.0
2015-01-27,0.0,0.0,75.0,0.0,50.0,0.0,0.0,0,0.0
2015-01-28,0.0,0.0,0.0,75.0,0.0,50.0,0.0,0,0.0
2015-01-29,0.0,0.0,0.0,0.0,75.0,0.0,50.0,0,0.0
2015-01-30,0.0,0.0,0.0,0.0,0.0,75.0,0.0,50,249.0
2015-01-31,249.0,0.0,0.0,0.0,0.0,0.0,75.0,0,668.0
2015-02-01,668.0,249.0,0.0,0.0,0.0,0.0,0.0,75,357.0
2015-02-02,357.0,668.0,249.0,0.0,0.0,0.0,0.0,0,0.0
2015-02-03,0.0,357.0,668.0,249.0,0.0,0.0,0.0,0,211.0
2015-02-04,211.0,0.0,357.0,668.0,249.0,0.0,0.0,0,84.0
2015-02-05,84.0,211.0,0.0,357.0,668.0,249.0,0.0,0,0.0
2015-02-06,0.0,84.0,211.0,0.0,357.0,668.0,249.0,0,169.0
2015-02-07,169.0,0.0,84.0,211.0,0.0,357.0,668.0,249,1728.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,425.0,83.0,0.0,97.0,401.0,410.0,459.0,125,509.0
2016-12-11,509.0,425.0,83.0,0.0,97.0,401.0,410.0,459,194.0
2016-12-12,194.0,509.0,425.0,83.0,0.0,97.0,401.0,410,180.0
2016-12-13,180.0,194.0,509.0,425.0,83.0,0.0,97.0,401,111.0
2016-12-14,111.0,180.0,194.0,509.0,425.0,83.0,0.0,97,129.0
2016-12-15,129.0,111.0,180.0,194.0,509.0,425.0,83.0,0,69.0
2016-12-16,69.0,129.0,111.0,180.0,194.0,509.0,425.0,83,180.0
2016-12-17,180.0,69.0,129.0,111.0,180.0,194.0,509.0,425,351.0
2016-12-18,351.0,180.0,69.0,129.0,111.0,180.0,194.0,509,139.0
2016-12-19,139.0,351.0,180.0,69.0,129.0,111.0,180.0,194,170.0
2016-12-20,170.0,139.0,351.0,180.0,69.0,129.0,111.0,180,172.0
2016-12-21,172.0,170.0,139.0,351.0,180.0,69.0,129.0,111,125.0
2016-12-22,125.0,172.0,170.0,139.0,351.0,180.0,69.0,129,79.0
2016-12-23,79.0,125.0,172.0,170.0,139.0,351.0,180.0,69,714.0
2016-12-24,714.0,79.0,125.0,172.0,170.0,139.0,351.0,180,613.0
2016-12-25,613.0,714.0,79.0,125.0,172.0,170.0,139.0,351,264.0
2016-12-26,264.0,613.0,714.0,79.0,125.0,172.0,170.0,139,111.0
2016-12-27,111.0,264.0,613.0,714.0,79.0,125.0,172.0,170,290.0
2016-12-28,290.0,111.0,264.0,613.0,714.0,79.0,125.0,172,58.0
2016-12-29,58.0,290.0,111.0,264.0,613.0,714.0,79.0,125,500.0
2016-12-30,500.0,58.0,290.0,111.0,264.0,613.0,714.0,79,1018.0
2016-12-31,1018.0,500.0,58.0,290.0,111.0,264.0,613.0,714,1386.0
2017-01-01,1386.0,1018.0,500.0,58.0,290.0,111.0,264.0,613,NaN
2017-01-02,NaN,1386.0,1018.0,500.0,58.0,290.0,111.0,264,NaN
2017-01-03,NaN,NaN,1386.0,1018.0,500.0,58.0,290.0,111,NaN
2017-01-04,NaN,NaN,NaN,1386.0,1018.0,500.0,58.0,290,NaN
2017-01-05,NaN,NaN,NaN,NaN,1386.0,1018.0,500.0,58,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,1386.0,1018.0,500,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,1386.0,1018,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1386,NaN

,akanlag1,akanlag2,akanlag3,akanlag4,akanlag5,akanlag6,akanlag7,akanlag8,y
datetime,,,,,,,,,
2015-01-09,2715.0,4569.0,4162.0,4877.0,6732.0,12343.0,11153.0,11028,2258.0
2015-01-10,2258.0,2715.0,4569.0,4162.0,4877.0,6732.0,12343.0,11153,4273.0
2015-01-11,4273.0,2258.0,2715.0,4569.0,4162.0,4877.0,6732.0,12343,4273.0
2015-01-12,4273.0,4273.0,2258.0,2715.0,4569.0,4162.0,4877.0,6732,2686.0
2015-01-13,2686.0,4273.0,4273.0,2258.0,2715.0,4569.0,4162.0,4877,2439.0
2015-01-14,2439.0,2686.0,4273.0,4273.0,2258.0,2715.0,4569.0,4162,1545.0
2015-01-15,1545.0,2439.0,2686.0,4273.0,4273.0,2258.0,2715.0,4569,1455.0
2015-01-16,1455.0,1545.0,2439.0,2686.0,4273.0,4273.0,2258.0,2715,1595.0
2015-01-17,1595.0,1455.0,1545.0,2439.0,2686.0,4273.0,4273.0,2258,2545.0
2015-01-18,2545.0,1595.0,1455.0,1545.0,2439.0,2686.0,4273.0,4273,1365.0
2015-01-19,1365.0,2545.0,1595.0,1455.0,1545.0,2439.0,2686.0,4273,2058.0
2015-01-20,2058.0,1365.0,2545.0,1595.0,1455.0,1545.0,2439.0,2686,1887.0
2015-01-21,1887.0,2058.0,1365.0,2545.0,1595.0,1455.0,1545.0,2439,1658.0
2015-01-22,1658.0,1887.0,2058.0,1365.0,2545.0,1595.0,1455.0,1545,1400.0
2015-01-23,1400.0,1658.0,1887.0,2058.0,1365.0,2545.0,1595.0,1455,1767.0
2015-01-24,1767.0,1400.0,1658.0,1887.0,2058.0,1365.0,2545.0,1595,4866.0
2015-01-25,4866.0,1767.0,1400.0,1658.0,1887.0,2058.0,1365.0,2545,3498.0
2015-01-26,3498.0,4866.0,1767.0,1400.0,1658.0,1887.0,2058.0,1365,2250.0
2015-01-27,2250.0,3498.0,4866.0,1767.0,1400.0,1658.0,1887.0,2058,2704.0
2015-01-28,2704.0,2250.0,3498.0,4866.0,1767.0,1400.0,1658.0,1887,2457.0
2015-01-29,2457.0,2704.0,2250.0,3498.0,4866.0,1767.0,1400.0,1658,1573.0
2015-01-30,1573.0,2457.0,2704.0,2250.0,3498.0,4866.0,1767.0,1400,2529.0
2015-01-31,2529.0,1573.0,2457.0,2704.0,2250.0,3498.0,4866.0,1767,4435.0
2015-02-01,4435.0,2529.0,1573.0,2457.0,2704.0,2250.0,3498.0,4866,3121.0
2015-02-02,3121.0,4435.0,2529.0,1573.0,2457.0,2704.0,2250.0,3498,2295.0
2015-02-03,2295.0,3121.0,4435.0,2529.0,1573.0,2457.0,2704.0,2250,3244.0
2015-02-04,3244.0,2295.0,3121.0,4435.0,2529.0,1573.0,2457.0,2704,2199.0
2015-02-05,2199.0,3244.0,2295.0,3121.0,4435.0,2529.0,1573.0,2457,2356.0
2015-02-06,2356.0,2199.0,3244.0,2295.0,3121.0,4435.0,2529.0,1573,2386.0
2015-02-07,2386.0,2356.0,2199.0,3244.0,2295.0,3121.0,4435.0,2529,7650.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,2174.0,1264.0,1370.0,2290.0,3374.0,2850.0,3635.0,2132,5937.0
2016-12-11,5937.0,2174.0,1264.0,1370.0,2290.0,3374.0,2850.0,3635,2577.0
2016-12-12,2577.0,5937.0,2174.0,1264.0,1370.0,2290.0,3374.0,2850,2939.0
2016-12-13,2939.0,2577.0,5937.0,2174.0,1264.0,1370.0,2290.0,3374,3740.0
2016-12-14,3740.0,2939.0,2577.0,5937.0,2174.0,1264.0,1370.0,2290,2714.0
2016-12-15,2714.0,3740.0,2939.0,2577.0,5937.0,2174.0,1264.0,1370,3947.0
2016-12-16,3947.0,2714.0,3740.0,2939.0,2577.0,5937.0,2174.0,1264,2713.0
2016-12-17,2713.0,3947.0,2714.0,3740.0,2939.0,2577.0,5937.0,2174,4363.0
2016-12-18,4363.0,2713.0,3947.0,2714.0,3740.0,2939.0,2577.0,5937,3774.0
2016-12-19,3774.0,4363.0,2713.0,3947.0,2714.0,3740.0,2939.0,2577,3015.0
2016-12-20,3015.0,3774.0,4363.0,2713.0,3947.0,2714.0,3740.0,2939,2366.0
2016-12-21,2366.0,3015.0,3774.0,4363.0,2713.0,3947.0,2714.0,3740,1280.0
2016-12-22,1280.0,2366.0,3015.0,3774.0,4363.0,2713.0,3947.0,2714,2129.0
2016-12-23,2129.0,1280.0,2366.0,3015.0,3774.0,4363.0,2713.0,3947,4437.0
2016-12-24,4437.0,2129.0,1280.0,2366.0,3015.0,3774.0,4363.0,2713,6892.0
2016-12-25,6892.0,4437.0,2129.0,1280.0,2366.0,3015.0,3774.0,4363,4125.0
2016-12-26,4125.0,6892.0,4437.0,2129.0,1280.0,2366.0,3015.0,3774,3505.0
2016-12-27,3505.0,4125.0,6892.0,4437.0,2129.0,1280.0,2366.0,3015,2504.0
2016-12-28,2504.0,3505.0,4125.0,6892.0,4437.0,2129.0,1280.0,2366,4366.0
2016-12-29,4366.0,2504.0,3505.0,4125.0,6892.0,4437.0,2129.0,1280,7330.0
2016-12-30,7330.0,4366.0,2504.0,3505.0,4125.0,6892.0,4437.0,2129,10232.0
2016-12-31,10232.0,7330.0,4366.0,2504.0,3505.0,4125.0,6892.0,4437,17027.0
2017-01-01,17027.0,10232.0,7330.0,4366.0,2504.0,3505.0,4125.0,6892,NaN
2017-01-02,NaN,17027.0,10232.0,7330.0,4366.0,2504.0,3505.0,4125,NaN
2017-01-03,NaN,NaN,17027.0,10232.0,7330.0,4366.0,2504.0,3505,NaN
2017-01-04,NaN,NaN,NaN,17027.0,10232.0,7330.0,4366.0,2504,NaN
2017-01-05,NaN,NaN,NaN,NaN,17027.0,10232.0,7330.0,4366,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,17027.0,10232.0,7330,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,17027.0,10232,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17027,NaN

,isesimalag1,isesimalag2,isesimalag3,isesimalag4,isesimalag5,isesimalag6,isesimalag7,isesimalag8,y
datetime,,,,,,,,,
2015-01-09,3489.0,4612.0,9118.0,17740.0,34960.0,45368.0,47035.0,42652,5327.0
2015-01-10,5327.0,3489.0,4612.0,9118.0,17740.0,34960.0,45368.0,47035,17676.0
2015-01-11,17676.0,5327.0,3489.0,4612.0,9118.0,17740.0,34960.0,45368,21679.0
2015-01-12,21679.0,17676.0,5327.0,3489.0,4612.0,9118.0,17740.0,34960,10215.0
2015-01-13,10215.0,21679.0,17676.0,5327.0,3489.0,4612.0,9118.0,17740,4297.0
2015-01-14,4297.0,10215.0,21679.0,17676.0,5327.0,3489.0,4612.0,9118,4489.0
2015-01-15,4489.0,4297.0,10215.0,21679.0,17676.0,5327.0,3489.0,4612,5178.0
2015-01-16,5178.0,4489.0,4297.0,10215.0,21679.0,17676.0,5327.0,3489,5818.0
2015-01-17,5818.0,5178.0,4489.0,4297.0,10215.0,21679.0,17676.0,5327,14964.0
2015-01-18,14964.0,5818.0,5178.0,4489.0,4297.0,10215.0,21679.0,17676,13616.0
2015-01-19,13616.0,14964.0,5818.0,5178.0,4489.0,4297.0,10215.0,21679,8877.0
2015-01-20,8877.0,13616.0,14964.0,5818.0,5178.0,4489.0,4297.0,10215,6188.0
2015-01-21,6188.0,8877.0,13616.0,14964.0,5818.0,5178.0,4489.0,4297,4317.0
2015-01-22,4317.0,6188.0,8877.0,13616.0,14964.0,5818.0,5178.0,4489,4235.0
2015-01-23,4235.0,4317.0,6188.0,8877.0,13616.0,14964.0,5818.0,5178,7323.0
2015-01-24,7323.0,4235.0,4317.0,6188.0,8877.0,13616.0,14964.0,5818,14531.0
2015-01-25,14531.0,7323.0,4235.0,4317.0,6188.0,8877.0,13616.0,14964,10533.0
2015-01-26,10533.0,14531.0,7323.0,4235.0,4317.0,6188.0,8877.0,13616,7172.0
2015-01-27,7172.0,10533.0,14531.0,7323.0,4235.0,4317.0,6188.0,8877,5736.0
2015-01-28,5736.0,7172.0,10533.0,14531.0,7323.0,4235.0,4317.0,6188,6440.0
2015-01-29,6440.0,5736.0,7172.0,10533.0,14531.0,7323.0,4235.0,4317,5830.0
2015-01-30,5830.0,6440.0,5736.0,7172.0,10533.0,14531.0,7323.0,4235,6790.0
2015-01-31,6790.0,5830.0,6440.0,5736.0,7172.0,10533.0,14531.0,7323,13472.0
2015-02-01,13472.0,6790.0,5830.0,6440.0,5736.0,7172.0,10533.0,14531,14356.0
2015-02-02,14356.0,13472.0,6790.0,5830.0,6440.0,5736.0,7172.0,10533,8924.0
2015-02-03,8924.0,14356.0,13472.0,6790.0,5830.0,6440.0,5736.0,7172,7292.0
2015-02-04,7292.0,8924.0,14356.0,13472.0,6790.0,5830.0,6440.0,5736,6293.0
2015-02-05,6293.0,7292.0,8924.0,14356.0,13472.0,6790.0,5830.0,6440,5979.0
2015-02-06,5979.0,6293.0,7292.0,8924.0,14356.0,13472.0,6790.0,5830,7909.0
2015-02-07,7909.0,5979.0,6293.0,7292.0,8924.0,14356.0,13472.0,6790,21165.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,8585.0,6082.0,6815.0,7410.0,9309.0,19069.0,21635.0,8733,17103.0
2016-12-11,17103.0,8585.0,6082.0,6815.0,7410.0,9309.0,19069.0,21635,14062.0
2016-12-12,14062.0,17103.0,8585.0,6082.0,6815.0,7410.0,9309.0,19069,7411.0
2016-12-13,7411.0,14062.0,17103.0,8585.0,6082.0,6815.0,7410.0,9309,5126.0
2016-12-14,5126.0,7411.0,14062.0,17103.0,8585.0,6082.0,6815.0,7410,4833.0
2016-12-15,4833.0,5126.0,7411.0,14062.0,17103.0,8585.0,6082.0,6815,5463.0
2016-12-16,5463.0,4833.0,5126.0,7411.0,14062.0,17103.0,8585.0,6082,8472.0
2016-12-17,8472.0,5463.0,4833.0,5126.0,7411.0,14062.0,17103.0,8585,18358.0
2016-12-18,18358.0,8472.0,5463.0,4833.0,5126.0,7411.0,14062.0,17103,12094.0
2016-12-19,12094.0,18358.0,8472.0,5463.0,4833.0,5126.0,7411.0,14062,5234.0
2016-12-20,5234.0,12094.0,18358.0,8472.0,5463.0,4833.0,5126.0,7411,3999.0
2016-12-21,3999.0,5234.0,12094.0,18358.0,8472.0,5463.0,4833.0,5126,4126.0
2016-12-22,4126.0,3999.0,5234.0,12094.0,18358.0,8472.0,5463.0,4833,6200.0
2016-12-23,6200.0,4126.0,3999.0,5234.0,12094.0,18358.0,8472.0,5463,23730.0
2016-12-24,23730.0,6200.0,4126.0,3999.0,5234.0,12094.0,18358.0,8472,24569.0
2016-12-25,24569.0,23730.0,6200.0,4126.0,3999.0,5234.0,12094.0,18358,15732.0
2016-12-26,15732.0,24569.0,23730.0,6200.0,4126.0,3999.0,5234.0,12094,12324.0
2016-12-27,12324.0,15732.0,24569.0,23730.0,6200.0,4126.0,3999.0,5234,16710.0
2016-12-28,16710.0,12324.0,15732.0,24569.0,23730.0,6200.0,4126.0,3999,23283.0
2016-12-29,23283.0,16710.0,12324.0,15732.0,24569.0,23730.0,6200.0,4126,41033.0
2016-12-30,41033.0,23283.0,16710.0,12324.0,15732.0,24569.0,23730.0,6200,52694.0
2016-12-31,52694.0,41033.0,23283.0,16710.0,12324.0,15732.0,24569.0,23730,54754.0
2017-01-01,54754.0,52694.0,41033.0,23283.0,16710.0,12324.0,15732.0,24569,NaN
2017-01-02,NaN,54754.0,52694.0,41033.0,23283.0,16710.0,12324.0,15732,NaN
2017-01-03,NaN,NaN,54754.0,52694.0,41033.0,23283.0,16710.0,12324,NaN
2017-01-04,NaN,NaN,NaN,54754.0,52694.0,41033.0,23283.0,16710,NaN
2017-01-05,NaN,NaN,NaN,NaN,54754.0,52694.0,41033.0,23283,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,54754.0,52694.0,41033,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,54754.0,52694,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54754,NaN

,ooyamalag1,ooyamalag2,ooyamalag3,ooyamalag4,ooyamalag5,ooyamalag6,ooyamalag7,ooyamalag8,y
datetime,,,,,,,,,
2015-01-09,270.0,542.0,141.0,135.0,880.0,1927.0,3244.0,3637,88.0
2015-01-10,88.0,270.0,542.0,141.0,135.0,880.0,1927.0,3244,384.0
2015-01-11,384.0,88.0,270.0,542.0,141.0,135.0,880.0,1927,613.0
2015-01-12,613.0,384.0,88.0,270.0,542.0,141.0,135.0,880,96.0
2015-01-13,96.0,613.0,384.0,88.0,270.0,542.0,141.0,135,352.0
2015-01-14,352.0,96.0,613.0,384.0,88.0,270.0,542.0,141,310.0
2015-01-15,310.0,352.0,96.0,613.0,384.0,88.0,270.0,542,85.0
2015-01-16,85.0,310.0,352.0,96.0,613.0,384.0,88.0,270,239.0
2015-01-17,239.0,85.0,310.0,352.0,96.0,613.0,384.0,88,260.0
2015-01-18,260.0,239.0,85.0,310.0,352.0,96.0,613.0,384,27.0
2015-01-19,27.0,260.0,239.0,85.0,310.0,352.0,96.0,613,58.0
2015-01-20,58.0,27.0,260.0,239.0,85.0,310.0,352.0,96,498.0
2015-01-21,498.0,58.0,27.0,260.0,239.0,85.0,310.0,352,66.0
2015-01-22,66.0,498.0,58.0,27.0,260.0,239.0,85.0,310,29.0
2015-01-23,29.0,66.0,498.0,58.0,27.0,260.0,239.0,85,0.0
2015-01-24,0.0,29.0,66.0,498.0,58.0,27.0,260.0,239,598.0
2015-01-25,598.0,0.0,29.0,66.0,498.0,58.0,27.0,260,425.0
2015-01-26,425.0,598.0,0.0,29.0,66.0,498.0,58.0,27,88.0
2015-01-27,88.0,425.0,598.0,0.0,29.0,66.0,498.0,58,241.0
2015-01-28,241.0,88.0,425.0,598.0,0.0,29.0,66.0,498,241.0
2015-01-29,241.0,241.0,88.0,425.0,598.0,0.0,29.0,66,29.0
2015-01-30,29.0,241.0,241.0,88.0,425.0,598.0,0.0,29,731.0
2015-01-31,731.0,29.0,241.0,241.0,88.0,425.0,598.0,0,1187.0
2015-02-01,1187.0,731.0,29.0,241.0,241.0,88.0,425.0,598,685.0
2015-02-02,685.0,1187.0,731.0,29.0,241.0,241.0,88.0,425,21.0
2015-02-03,21.0,685.0,1187.0,731.0,29.0,241.0,241.0,88,304.0
2015-02-04,304.0,21.0,685.0,1187.0,731.0,29.0,241.0,241,221.0
2015-02-05,221.0,304.0,21.0,685.0,1187.0,731.0,29.0,241,0.0
2015-02-06,0.0,221.0,304.0,21.0,685.0,1187.0,731.0,29,295.0
2015-02-07,295.0,0.0,221.0,304.0,21.0,685.0,1187.0,731,1624.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,107.0,754.0,262.0,445.0,186.0,227.0,477.0,179,129.0
2016-12-11,129.0,107.0,754.0,262.0,445.0,186.0,227.0,477,57.0
2016-12-12,57.0,129.0,107.0,754.0,262.0,445.0,186.0,227,1389.0
2016-12-13,1389.0,57.0,129.0,107.0,754.0,262.0,445.0,186,216.0
2016-12-14,216.0,1389.0,57.0,129.0,107.0,754.0,262.0,445,506.0
2016-12-15,506.0,216.0,1389.0,57.0,129.0,107.0,754.0,262,463.0
2016-12-16,463.0,506.0,216.0,1389.0,57.0,129.0,107.0,754,50.0
2016-12-17,50.0,463.0,506.0,216.0,1389.0,57.0,129.0,107,86.0
2016-12-18,86.0,50.0,463.0,506.0,216.0,1389.0,57.0,129,107.0
2016-12-19,107.0,86.0,50.0,463.0,506.0,216.0,1389.0,57,21.0
2016-12-20,21.0,107.0,86.0,50.0,463.0,506.0,216.0,1389,1130.0
2016-12-21,1130.0,21.0,107.0,86.0,50.0,463.0,506.0,216,1137.0
2016-12-22,1137.0,1130.0,21.0,107.0,86.0,50.0,463.0,506,43.0
2016-12-23,43.0,1137.0,1130.0,21.0,107.0,86.0,50.0,463,967.0
2016-12-24,967.0,43.0,1137.0,1130.0,21.0,107.0,86.0,50,846.0
2016-12-25,846.0,967.0,43.0,1137.0,1130.0,21.0,107.0,86,246.0
2016-12-26,246.0,846.0,967.0,43.0,1137.0,1130.0,21.0,107,490.0
2016-12-27,490.0,246.0,846.0,967.0,43.0,1137.0,1130.0,21,769.0
2016-12-28,769.0,490.0,246.0,846.0,967.0,43.0,1137.0,1130,726.0
2016-12-29,726.0,769.0,490.0,246.0,846.0,967.0,43.0,1137,1834.0
2016-12-30,1834.0,726.0,769.0,490.0,246.0,846.0,967.0,43,1490.0
2016-12-31,1490.0,1834.0,726.0,769.0,490.0,246.0,846.0,967,2862.0
2017-01-01,2862.0,1490.0,1834.0,726.0,769.0,490.0,246.0,846,NaN
2017-01-02,NaN,2862.0,1490.0,1834.0,726.0,769.0,490.0,246,NaN
2017-01-03,NaN,NaN,2862.0,1490.0,1834.0,726.0,769.0,490,NaN
2017-01-04,NaN,NaN,NaN,2862.0,1490.0,1834.0,726.0,769,NaN
2017-01-05,NaN,NaN,NaN,NaN,2862.0,1490.0,1834.0,726,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,2862.0,1490.0,1834,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,2862.0,1490,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2862,NaN

,kirisimalag1,kirisimalag2,kirisimalag3,kirisimalag4,kirisimalag5,kirisimalag6,kirisimalag7,kirisimalag8,y
datetime,,,,,,,,,
2015-01-09,8404.0,16559.0,7856.0,8112.0,12993.0,27027.0,29856.0,35352,10997.0
2015-01-10,10997.0,8404.0,16559.0,7856.0,8112.0,12993.0,27027.0,29856,28202.0
2015-01-11,28202.0,10997.0,8404.0,16559.0,7856.0,8112.0,12993.0,27027,26121.0
2015-01-12,26121.0,28202.0,10997.0,8404.0,16559.0,7856.0,8112.0,12993,15286.0
2015-01-13,15286.0,26121.0,28202.0,10997.0,8404.0,16559.0,7856.0,8112,8633.0
2015-01-14,8633.0,15286.0,26121.0,28202.0,10997.0,8404.0,16559.0,7856,10129.0
2015-01-15,10129.0,8633.0,15286.0,26121.0,28202.0,10997.0,8404.0,16559,13873.0
2015-01-16,13873.0,10129.0,8633.0,15286.0,26121.0,28202.0,10997.0,8404,9914.0
2015-01-17,9914.0,13873.0,10129.0,8633.0,15286.0,26121.0,28202.0,10997,14541.0
2015-01-18,14541.0,9914.0,13873.0,10129.0,8633.0,15286.0,26121.0,28202,9589.0
2015-01-19,9589.0,14541.0,9914.0,13873.0,10129.0,8633.0,15286.0,26121,7457.0
2015-01-20,7457.0,9589.0,14541.0,9914.0,13873.0,10129.0,8633.0,15286,8557.0
2015-01-21,8557.0,7457.0,9589.0,14541.0,9914.0,13873.0,10129.0,8633,7362.0
2015-01-22,7362.0,8557.0,7457.0,9589.0,14541.0,9914.0,13873.0,10129,7469.0
2015-01-23,7469.0,7362.0,8557.0,7457.0,9589.0,14541.0,9914.0,13873,11443.0
2015-01-24,11443.0,7469.0,7362.0,8557.0,7457.0,9589.0,14541.0,9914,16290.0
2015-01-25,16290.0,11443.0,7469.0,7362.0,8557.0,7457.0,9589.0,14541,10899.0
2015-01-26,10899.0,16290.0,11443.0,7469.0,7362.0,8557.0,7457.0,9589,7423.0
2015-01-27,7423.0,10899.0,16290.0,11443.0,7469.0,7362.0,8557.0,7457,8668.0
2015-01-28,8668.0,7423.0,10899.0,16290.0,11443.0,7469.0,7362.0,8557,9114.0
2015-01-29,9114.0,8668.0,7423.0,10899.0,16290.0,11443.0,7469.0,7362,8571.0
2015-01-30,8571.0,9114.0,8668.0,7423.0,10899.0,16290.0,11443.0,7469,7543.0
2015-01-31,7543.0,8571.0,9114.0,8668.0,7423.0,10899.0,16290.0,11443,14329.0
2015-02-01,14329.0,7543.0,8571.0,9114.0,8668.0,7423.0,10899.0,16290,8612.0
2015-02-02,8612.0,14329.0,7543.0,8571.0,9114.0,8668.0,7423.0,10899,9352.0
2015-02-03,9352.0,8612.0,14329.0,7543.0,8571.0,9114.0,8668.0,7423,7822.0
2015-02-04,7822.0,9352.0,8612.0,14329.0,7543.0,8571.0,9114.0,8668,8577.0
2015-02-05,8577.0,7822.0,9352.0,8612.0,14329.0,7543.0,8571.0,9114,9153.0
2015-02-06,9153.0,8577.0,7822.0,9352.0,8612.0,14329.0,7543.0,8571,17128.0
2015-02-07,17128.0,9153.0,8577.0,7822.0,9352.0,8612.0,14329.0,7543,21238.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,14295.0,10173.0,9377.0,11011.0,11177.0,13200.0,19306.0,13088,21036.0
2016-12-11,21036.0,14295.0,10173.0,9377.0,11011.0,11177.0,13200.0,19306,16199.0
2016-12-12,16199.0,21036.0,14295.0,10173.0,9377.0,11011.0,11177.0,13200,14339.0
2016-12-13,14339.0,16199.0,21036.0,14295.0,10173.0,9377.0,11011.0,11177,12403.0
2016-12-14,12403.0,14339.0,16199.0,21036.0,14295.0,10173.0,9377.0,11011,11376.0
2016-12-15,11376.0,12403.0,14339.0,16199.0,21036.0,14295.0,10173.0,9377,9357.0
2016-12-16,9357.0,11376.0,12403.0,14339.0,16199.0,21036.0,14295.0,10173,11793.0
2016-12-17,11793.0,9357.0,11376.0,12403.0,14339.0,16199.0,21036.0,14295,19216.0
2016-12-18,19216.0,11793.0,9357.0,11376.0,12403.0,14339.0,16199.0,21036,15862.0
2016-12-19,15862.0,19216.0,11793.0,9357.0,11376.0,12403.0,14339.0,16199,10281.0
2016-12-20,10281.0,15862.0,19216.0,11793.0,9357.0,11376.0,12403.0,14339,9976.0
2016-12-21,9976.0,10281.0,15862.0,19216.0,11793.0,9357.0,11376.0,12403,8849.0
2016-12-22,8849.0,9976.0,10281.0,15862.0,19216.0,11793.0,9357.0,11376,11491.0
2016-12-23,11491.0,8849.0,9976.0,10281.0,15862.0,19216.0,11793.0,9357,22683.0
2016-12-24,22683.0,11491.0,8849.0,9976.0,10281.0,15862.0,19216.0,11793,20096.0
2016-12-25,20096.0,22683.0,11491.0,8849.0,9976.0,10281.0,15862.0,19216,15742.0
2016-12-26,15742.0,20096.0,22683.0,11491.0,8849.0,9976.0,10281.0,15862,11558.0
2016-12-27,11558.0,15742.0,20096.0,22683.0,11491.0,8849.0,9976.0,10281,11497.0
2016-12-28,11497.0,11558.0,15742.0,20096.0,22683.0,11491.0,8849.0,9976,13179.0
2016-12-29,13179.0,11497.0,11558.0,15742.0,20096.0,22683.0,11491.0,8849,19334.0
2016-12-30,19334.0,13179.0,11497.0,11558.0,15742.0,20096.0,22683.0,11491,22213.0
2016-12-31,22213.0,19334.0,13179.0,11497.0,11558.0,15742.0,20096.0,22683,32600.0
2017-01-01,32600.0,22213.0,19334.0,13179.0,11497.0,11558.0,15742.0,20096,NaN
2017-01-02,NaN,32600.0,22213.0,19334.0,13179.0,11497.0,11558.0,15742,NaN
2017-01-03,NaN,NaN,32600.0,22213.0,19334.0,13179.0,11497.0,11558,NaN
2017-01-04,NaN,NaN,NaN,32600.0,22213.0,19334.0,13179.0,11497,NaN
2017-01-05,NaN,NaN,NaN,NaN,32600.0,22213.0,19334.0,13179,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,32600.0,22213.0,19334,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,32600.0,22213,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32600,NaN

,keramalag1,keramalag2,keramalag3,keramalag4,keramalag5,keramalag6,keramalag7,keramalag8,y
datetime,,,,,,,,,
2015-01-09,25.0,0.0,0.0,0.0,75.0,126.0,657.0,151,0.0
2015-01-10,0.0,25.0,0.0,0.0,0.0,75.0,126.0,657,510.0
2015-01-11,510.0,0.0,25.0,0.0,0.0,0.0,75.0,126,510.0
2015-01-12,510.0,510.0,0.0,25.0,0.0,0.0,0.0,75,50.0
2015-01-13,50.0,510.0,510.0,0.0,25.0,0.0,0.0,0,0.0
2015-01-14,0.0,50.0,510.0,510.0,0.0,25.0,0.0,0,0.0
2015-01-15,0.0,0.0,50.0,510.0,510.0,0.0,25.0,0,0.0
2015-01-16,0.0,0.0,0.0,50.0,510.0,510.0,0.0,25,0.0
2015-01-17,0.0,0.0,0.0,0.0,50.0,510.0,510.0,0,0.0
2015-01-18,0.0,0.0,0.0,0.0,0.0,50.0,510.0,510,0.0
2015-01-19,0.0,0.0,0.0,0.0,0.0,0.0,50.0,510,0.0
2015-01-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50,0.0
2015-01-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2015-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,126.0
2015-01-23,126.0,0.0,0.0,0.0,0.0,0.0,0.0,0,126.0
2015-01-24,126.0,126.0,0.0,0.0,0.0,0.0,0.0,0,126.0
2015-01-25,126.0,126.0,126.0,0.0,0.0,0.0,0.0,0,126.0
2015-01-26,126.0,126.0,126.0,126.0,0.0,0.0,0.0,0,176.0
2015-01-27,176.0,126.0,126.0,126.0,126.0,0.0,0.0,0,126.0
2015-01-28,126.0,176.0,126.0,126.0,126.0,126.0,0.0,0,126.0
2015-01-29,126.0,126.0,176.0,126.0,126.0,126.0,126.0,0,0.0
2015-01-30,0.0,126.0,126.0,176.0,126.0,126.0,126.0,126,0.0
2015-01-31,0.0,0.0,126.0,126.0,176.0,126.0,126.0,126,0.0
2015-02-01,0.0,0.0,0.0,126.0,126.0,176.0,126.0,126,0.0
2015-02-02,0.0,0.0,0.0,0.0,126.0,126.0,176.0,126,103.0
2015-02-03,103.0,0.0,0.0,0.0,0.0,126.0,126.0,176,103.0
2015-02-04,103.0,103.0,0.0,0.0,0.0,0.0,126.0,126,0.0
2015-02-05,0.0,103.0,103.0,0.0,0.0,0.0,0.0,126,0.0
2015-02-06,0.0,0.0,103.0,103.0,0.0,0.0,0.0,0,287.0
2015-02-07,287.0,0.0,0.0,103.0,103.0,0.0,0.0,0,494.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,0.0,0.0,0.0,0.0,42.0,0.0,0.0,170,0.0
2016-12-11,0.0,0.0,0.0,0.0,0.0,42.0,0.0,0,0.0
2016-12-12,0.0,0.0,0.0,0.0,0.0,0.0,42.0,0,0.0
2016-12-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42,0.0
2016-12-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2016-12-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0
2016-12-16,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0
2016-12-17,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2016-12-18,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,85.0
2016-12-19,85.0,0.0,1.0,1.0,0.0,0.0,0.0,0,85.0
2016-12-20,85.0,85.0,0.0,1.0,1.0,0.0,0.0,0,85.0
2016-12-21,85.0,85.0,85.0,0.0,1.0,1.0,0.0,0,0.0
2016-12-22,0.0,85.0,85.0,85.0,0.0,1.0,1.0,0,0.0
2016-12-23,0.0,0.0,85.0,85.0,85.0,0.0,1.0,1,94.0
2016-12-24,94.0,0.0,0.0,85.0,85.0,85.0,0.0,1,85.0
2016-12-25,85.0,94.0,0.0,0.0,85.0,85.0,85.0,0,85.0
2016-12-26,85.0,85.0,94.0,0.0,0.0,85.0,85.0,85,170.0
2016-12-27,170.0,85.0,85.0,94.0,0.0,0.0,85.0,85,0.0
2016-12-28,0.0,170.0,85.0,85.0,94.0,0.0,0.0,85,170.0
2016-12-29,170.0,0.0,170.0,85.0,85.0,94.0,0.0,0,810.0
2016-12-30,810.0,170.0,0.0,170.0,85.0,85.0,94.0,0,810.0
2016-12-31,810.0,810.0,170.0,0.0,170.0,85.0,85.0,94,852.0
2017-01-01,852.0,810.0,810.0,170.0,0.0,170.0,85.0,85,NaN
2017-01-02,NaN,852.0,810.0,810.0,170.0,0.0,170.0,85,NaN
2017-01-03,NaN,NaN,852.0,810.0,810.0,170.0,0.0,170,NaN
2017-01-04,NaN,NaN,NaN,852.0,810.0,810.0,170.0,0,NaN
2017-01-05,NaN,NaN,NaN,NaN,852.0,810.0,810.0,170,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,852.0,810.0,810,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,852.0,810,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,852,NaN

,towadalag1,towadalag2,towadalag3,towadalag4,towadalag5,towadalag6,towadalag7,towadalag8,y
datetime,,,,,,,,,
2015-01-09,3019.0,2374.0,2771.0,4732.0,9306.0,17114.0,33795.0,34757,3865.0
2015-01-10,3865.0,3019.0,2374.0,2771.0,4732.0,9306.0,17114.0,33795,16346.0
2015-01-11,16346.0,3865.0,3019.0,2374.0,2771.0,4732.0,9306.0,17114,16169.0
2015-01-12,16169.0,16346.0,3865.0,3019.0,2374.0,2771.0,4732.0,9306,7301.0
2015-01-13,7301.0,16169.0,16346.0,3865.0,3019.0,2374.0,2771.0,4732,2534.0
2015-01-14,2534.0,7301.0,16169.0,16346.0,3865.0,3019.0,2374.0,2771,2425.0
2015-01-15,2425.0,2534.0,7301.0,16169.0,16346.0,3865.0,3019.0,2374,2365.0
2015-01-16,2365.0,2425.0,2534.0,7301.0,16169.0,16346.0,3865.0,3019,3237.0
2015-01-17,3237.0,2365.0,2425.0,2534.0,7301.0,16169.0,16346.0,3865,5982.0
2015-01-18,5982.0,3237.0,2365.0,2425.0,2534.0,7301.0,16169.0,16346,3231.0
2015-01-19,3231.0,5982.0,3237.0,2365.0,2425.0,2534.0,7301.0,16169,2991.0
2015-01-20,2991.0,3231.0,5982.0,3237.0,2365.0,2425.0,2534.0,7301,3151.0
2015-01-21,3151.0,2991.0,3231.0,5982.0,3237.0,2365.0,2425.0,2534,1993.0
2015-01-22,1993.0,3151.0,2991.0,3231.0,5982.0,3237.0,2365.0,2425,2690.0
2015-01-23,2690.0,1993.0,3151.0,2991.0,3231.0,5982.0,3237.0,2365,3758.0
2015-01-24,3758.0,2690.0,1993.0,3151.0,2991.0,3231.0,5982.0,3237,10124.0
2015-01-25,10124.0,3758.0,2690.0,1993.0,3151.0,2991.0,3231.0,5982,5085.0
2015-01-26,5085.0,10124.0,3758.0,2690.0,1993.0,3151.0,2991.0,3231,3154.0
2015-01-27,3154.0,5085.0,10124.0,3758.0,2690.0,1993.0,3151.0,2991,2030.0
2015-01-28,2030.0,3154.0,5085.0,10124.0,3758.0,2690.0,1993.0,3151,2368.0
2015-01-29,2368.0,2030.0,3154.0,5085.0,10124.0,3758.0,2690.0,1993,2367.0
2015-01-30,2367.0,2368.0,2030.0,3154.0,5085.0,10124.0,3758.0,2690,3872.0
2015-01-31,3872.0,2367.0,2368.0,2030.0,3154.0,5085.0,10124.0,3758,13220.0
2015-02-01,13220.0,3872.0,2367.0,2368.0,2030.0,3154.0,5085.0,10124,7333.0
2015-02-02,7333.0,13220.0,3872.0,2367.0,2368.0,2030.0,3154.0,5085,6196.0
2015-02-03,6196.0,7333.0,13220.0,3872.0,2367.0,2368.0,2030.0,3154,5909.0
2015-02-04,5909.0,6196.0,7333.0,13220.0,3872.0,2367.0,2368.0,2030,3200.0
2015-02-05,3200.0,5909.0,6196.0,7333.0,13220.0,3872.0,2367.0,2368,2617.0
2015-02-06,2617.0,3200.0,5909.0,6196.0,7333.0,13220.0,3872.0,2367,7776.0
2015-02-07,7776.0,2617.0,3200.0,5909.0,6196.0,7333.0,13220.0,3872,16124.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,1542.0,1589.0,2809.0,2517.0,3440.0,4914.0,7149.0,5598,4206.0
2016-12-11,4206.0,1542.0,1589.0,2809.0,2517.0,3440.0,4914.0,7149,2172.0
2016-12-12,2172.0,4206.0,1542.0,1589.0,2809.0,2517.0,3440.0,4914,3045.0
2016-12-13,3045.0,2172.0,4206.0,1542.0,1589.0,2809.0,2517.0,3440,3103.0
2016-12-14,3103.0,3045.0,2172.0,4206.0,1542.0,1589.0,2809.0,2517,2153.0
2016-12-15,2153.0,3103.0,3045.0,2172.0,4206.0,1542.0,1589.0,2809,3198.0
2016-12-16,3198.0,2153.0,3103.0,3045.0,2172.0,4206.0,1542.0,1589,3348.0
2016-12-17,3348.0,3198.0,2153.0,3103.0,3045.0,2172.0,4206.0,1542,6815.0
2016-12-18,6815.0,3348.0,3198.0,2153.0,3103.0,3045.0,2172.0,4206,3076.0
2016-12-19,3076.0,6815.0,3348.0,3198.0,2153.0,3103.0,3045.0,2172,3012.0
2016-12-20,3012.0,3076.0,6815.0,3348.0,3198.0,2153.0,3103.0,3045,2731.0
2016-12-21,2731.0,3012.0,3076.0,6815.0,3348.0,3198.0,2153.0,3103,2605.0
2016-12-22,2605.0,2731.0,3012.0,3076.0,6815.0,3348.0,3198.0,2153,3218.0
2016-12-23,3218.0,2605.0,2731.0,3012.0,3076.0,6815.0,3348.0,3198,9686.0
2016-12-24,9686.0,3218.0,2605.0,2731.0,3012.0,3076.0,6815.0,3348,11115.0
2016-12-25,11115.0,9686.0,3218.0,2605.0,2731.0,3012.0,3076.0,6815,6589.0
2016-12-26,6589.0,11115.0,9686.0,3218.0,2605.0,2731.0,3012.0,3076,4715.0
2016-12-27,4715.0,6589.0,11115.0,9686.0,3218.0,2605.0,2731.0,3012,5801.0
2016-12-28,5801.0,4715.0,6589.0,11115.0,9686.0,3218.0,2605.0,2731,8760.0
2016-12-29,8760.0,5801.0,4715.0,6589.0,11115.0,9686.0,3218.0,2605,21067.0
2016-12-30,21067.0,8760.0,5801.0,4715.0,6589.0,11115.0,9686.0,3218,26276.0
2016-12-31,26276.0,21067.0,8760.0,5801.0,4715.0,6589.0,11115.0,9686,41620.0
2017-01-01,41620.0,26276.0,21067.0,8760.0,5801.0,4715.0,6589.0,11115,NaN
2017-01-02,NaN,41620.0,26276.0,21067.0,8760.0,5801.0,4715.0,6589,NaN
2017-01-03,NaN,NaN,41620.0,26276.0,21067.0,8760.0,5801.0,4715,NaN
2017-01-04,NaN,NaN,NaN,41620.0,26276.0,21067.0,8760.0,5801,NaN
2017-01-05,NaN,NaN,NaN,NaN,41620.0,26276.0,21067.0,8760,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,41620.0,26276.0,21067,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,41620.0,26276,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41620,NaN

,nikkolag1,nikkolag2,nikkolag3,nikkolag4,nikkolag5,nikkolag6,nikkolag7,nikkolag8,y
datetime,,,,,,,,,
2015-01-09,1548.0,1031.0,3593.0,6571.0,12236.0,22247.0,27011.0,29714,1216.0
2015-01-10,1216.0,1548.0,1031.0,3593.0,6571.0,12236.0,22247.0,27011,11152.0
2015-01-11,11152.0,1216.0,1548.0,1031.0,3593.0,6571.0,12236.0,22247,11820.0
2015-01-12,11820.0,11152.0,1216.0,1548.0,1031.0,3593.0,6571.0,12236,3454.0
2015-01-13,3454.0,11820.0,11152.0,1216.0,1548.0,1031.0,3593.0,6571,665.0
2015-01-14,665.0,3454.0,11820.0,11152.0,1216.0,1548.0,1031.0,3593,680.0
2015-01-15,680.0,665.0,3454.0,11820.0,11152.0,1216.0,1548.0,1031,2722.0
2015-01-16,2722.0,680.0,665.0,3454.0,11820.0,11152.0,1216.0,1548,1933.0
2015-01-17,1933.0,2722.0,680.0,665.0,3454.0,11820.0,11152.0,1216,4553.0
2015-01-18,4553.0,1933.0,2722.0,680.0,665.0,3454.0,11820.0,11152,3449.0
2015-01-19,3449.0,4553.0,1933.0,2722.0,680.0,665.0,3454.0,11820,2189.0
2015-01-20,2189.0,3449.0,4553.0,1933.0,2722.0,680.0,665.0,3454,1490.0
2015-01-21,1490.0,2189.0,3449.0,4553.0,1933.0,2722.0,680.0,665,1189.0
2015-01-22,1189.0,1490.0,2189.0,3449.0,4553.0,1933.0,2722.0,680,808.0
2015-01-23,808.0,1189.0,1490.0,2189.0,3449.0,4553.0,1933.0,2722,1825.0
2015-01-24,1825.0,808.0,1189.0,1490.0,2189.0,3449.0,4553.0,1933,5908.0
2015-01-25,5908.0,1825.0,808.0,1189.0,1490.0,2189.0,3449.0,4553,3826.0
2015-01-26,3826.0,5908.0,1825.0,808.0,1189.0,1490.0,2189.0,3449,1961.0
2015-01-27,1961.0,3826.0,5908.0,1825.0,808.0,1189.0,1490.0,2189,1809.0
2015-01-28,1809.0,1961.0,3826.0,5908.0,1825.0,808.0,1189.0,1490,2046.0
2015-01-29,2046.0,1809.0,1961.0,3826.0,5908.0,1825.0,808.0,1189,1464.0
2015-01-30,1464.0,2046.0,1809.0,1961.0,3826.0,5908.0,1825.0,808,2651.0
2015-01-31,2651.0,1464.0,2046.0,1809.0,1961.0,3826.0,5908.0,1825,6761.0
2015-02-01,6761.0,2651.0,1464.0,2046.0,1809.0,1961.0,3826.0,5908,4367.0
2015-02-02,4367.0,6761.0,2651.0,1464.0,2046.0,1809.0,1961.0,3826,2608.0
2015-02-03,2608.0,4367.0,6761.0,2651.0,1464.0,2046.0,1809.0,1961,2502.0
2015-02-04,2502.0,2608.0,4367.0,6761.0,2651.0,1464.0,2046.0,1809,2060.0
2015-02-05,2060.0,2502.0,2608.0,4367.0,6761.0,2651.0,1464.0,2046,2069.0
2015-02-06,2069.0,2060.0,2502.0,2608.0,4367.0,6761.0,2651.0,1464,4378.0
2015-02-07,4378.0,2069.0,2060.0,2502.0,2608.0,4367.0,6761.0,2651,16362.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,5965.0,3536.0,4107.0,5184.0,7099.0,13541.0,18516.0,6737,19294.0
2016-12-11,19294.0,5965.0,3536.0,4107.0,5184.0,7099.0,13541.0,18516,11341.0
2016-12-12,11341.0,19294.0,5965.0,3536.0,4107.0,5184.0,7099.0,13541,4469.0
2016-12-13,4469.0,11341.0,19294.0,5965.0,3536.0,4107.0,5184.0,7099,3182.0
2016-12-14,3182.0,4469.0,11341.0,19294.0,5965.0,3536.0,4107.0,5184,3162.0
2016-12-15,3162.0,3182.0,4469.0,11341.0,19294.0,5965.0,3536.0,4107,3148.0
2016-12-16,3148.0,3162.0,3182.0,4469.0,11341.0,19294.0,5965.0,3536,4188.0
2016-12-17,4188.0,3148.0,3162.0,3182.0,4469.0,11341.0,19294.0,5965,14016.0
2016-12-18,14016.0,4188.0,3148.0,3162.0,3182.0,4469.0,11341.0,19294,10683.0
2016-12-19,10683.0,14016.0,4188.0,3148.0,3162.0,3182.0,4469.0,11341,3316.0
2016-12-20,3316.0,10683.0,14016.0,4188.0,3148.0,3162.0,3182.0,4469,2344.0
2016-12-21,2344.0,3316.0,10683.0,14016.0,4188.0,3148.0,3162.0,3182,3711.0
2016-12-22,3711.0,2344.0,3316.0,10683.0,14016.0,4188.0,3148.0,3162,5604.0
2016-12-23,5604.0,3711.0,2344.0,3316.0,10683.0,14016.0,4188.0,3148,23990.0
2016-12-24,23990.0,5604.0,3711.0,2344.0,3316.0,10683.0,14016.0,4188,25492.0
2016-12-25,25492.0,23990.0,5604.0,3711.0,2344.0,3316.0,10683.0,14016,15360.0
2016-12-26,15360.0,25492.0,23990.0,5604.0,3711.0,2344.0,3316.0,10683,12027.0
2016-12-27,12027.0,15360.0,25492.0,23990.0,5604.0,3711.0,2344.0,3316,13499.0
2016-12-28,13499.0,12027.0,15360.0,25492.0,23990.0,5604.0,3711.0,2344,20949.0
2016-12-29,20949.0,13499.0,12027.0,15360.0,25492.0,23990.0,5604.0,3711,39924.0
2016-12-30,39924.0,20949.0,13499.0,12027.0,15360.0,25492.0,23990.0,5604,47261.0
2016-12-31,47261.0,39924.0,20949.0,13499.0,12027.0,15360.0,25492.0,23990,53065.0
2017-01-01,53065.0,47261.0,39924.0,20949.0,13499.0,12027.0,15360.0,25492,NaN
2017-01-02,NaN,53065.0,47261.0,39924.0,20949.0,13499.0,12027.0,15360,NaN
2017-01-03,NaN,NaN,53065.0,47261.0,39924.0,20949.0,13499.0,12027,NaN
2017-01-04,NaN,NaN,NaN,53065.0,47261.0,39924.0,20949.0,13499,NaN
2017-01-05,NaN,NaN,NaN,NaN,53065.0,47261.0,39924.0,20949,NaN
2017-01-06,NaN,NaN,NaN,NaN,NaN,53065.0,47261.0,39924,NaN
2017-01-07,NaN,NaN,NaN,NaN,NaN,NaN,53065.0,47261,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53065,NaN