In [1]:
import pandas as pd
import pandas.tseries.offsets as offsets

In [14]:
tourism_train = pd.read_csv("../data/train.tsv",delimiter="\t")
print(tourism_train.shape)
tourism_train.head(20)

(5848, 3)

      datetime        park  visitors
0   2015-01-01    阿寒摩周国立公園     11028
1   2015-01-01  十和田八幡平国立公園     34757
2   2015-01-01      日光国立公園     29714
3   2015-01-01    伊勢志摩国立公園     42652
4   2015-01-01    大山隠岐国立公園      3637
5   2015-01-01  阿蘇くじゅう国立公園      1369
6   2015-01-01   霧島錦江湾国立公園     35352
7   2015-01-01   慶良間諸島国立公園       151
8   2015-01-02    阿寒摩周国立公園     11153
9   2015-01-02  十和田八幡平国立公園     33795
10  2015-01-02      日光国立公園     27011
11  2015-01-02    伊勢志摩国立公園     47035
12  2015-01-02    大山隠岐国立公園      3244
13  2015-01-02  阿蘇くじゅう国立公園      1643
14  2015-01-02   霧島錦江湾国立公園     29856
15  2015-01-02   慶良間諸島国立公園       657
16  2015-01-03    阿寒摩周国立公園     12343
17  2015-01-03  十和田八幡平国立公園     17114
18  2015-01-03      日光国立公園     22247
19  2015-01-03    伊勢志摩国立公園     45368

In [8]:
#日光国立公園区画内のSNSロケーション解析データ投稿数データ。
sns = pd.read_csv("../data/nightley.tsv",delimiter="\t")
print(sns.shape)
sns.head()

(730, 3)

     datetime  Japan_count  Foreign_count
0  2016-01-01           28              0
1  2016-01-02           66              1
2  2016-01-03           75              6
3  2016-01-04           50              1
4  2016-01-05           25              0

In [9]:
visitors = pd.read_csv("../data/colopl.tsv",delimiter="\t")
print(visitors.shape)
visitors.head()

(1701, 5)

   year  month      park country_jp count
0  2016      1  阿寒摩周国立公園    アメリカ合衆国   1-9
1  2016      1  阿寒摩周国立公園     シンガポール   1-9
2  2016      1  阿寒摩周国立公園      マレーシア   1-9
3  2016      1  阿寒摩周国立公園         中国   1-9
4  2016      1  阿寒摩周国立公園         台湾    19

In [10]:
#国立公園周辺12地点の気象観測データ。
weather = pd.read_csv("../data/weather.tsv",delimiter="\t")
print(weather.shape)
weather.head()

(13140, 24)

,年月日,地点,平均気温(℃),最高気温(℃),最低気温(℃),降水量の合計(mm),10分間降水量の最大(mm),日照時間(時間),合計全天日射量(MJ/㎡),最深積雪(cm),...,最多風向(16方位),平均蒸気圧(hPa),平均現地気圧(hPa),平均湿度(%),平均海面気圧(hPa),最小相対湿度(%),最低海面気圧(hPa),平均雲量(10分比),天気概況(昼:06時~18時),天気概況(夜:18時~翌日06時)
0,2015/1/1,十和田,-1.9,0.3,-2.9,5.0,1.0,2.1,NaN,18.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015/1/2,十和田,-3.9,-1.1,-8.0,0.0,0.0,3.3,NaN,17.0,...,西北西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015/1/3,十和田,-4.0,-1.6,-8.9,2.0,0.5,1.4,NaN,21.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015/1/4,十和田,0.6,3.4,-1.6,0.0,0.0,2.6,NaN,19.0,...,南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015/1/5,十和田,0.8,5.4,-5.1,0.0,0.0,4.0,NaN,14.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#防災科学技術研究所 ⼤⼭鏡ヶ成積雪気象観測施設における積雪気象観測データ。
snow = pd.read_csv("../data/nied_oyama.tsv",delimiter="\t")
print(snow.shape)
snow.head()

(12780, 5)

                    日時  積雪深(cm)  積雪深重量(kg m^-2)  気温(℃)  降水量(mm h-1)
0  2015-01-01 00:00:00     99.3           305.1   -4.8          1.0
1  2015-01-01 01:00:00    101.9           308.3   -4.8          1.0
2  2015-01-01 02:00:00    102.5           310.3   -5.3          0.0
3  2015-01-01 03:00:00    101.8           310.6   -5.5          0.0
4  2015-01-01 04:00:00    101.9           311.1   -6.1          0.5

In [13]:
#各国立公園付近エリア単位の「平均人口」の集計値データ
year = 2017
month = 3
population_dic = {}
population_dic[(year, month)] = pd.read_csv("../data/month_time_mesh100m_"+str(year)+"0"+str(month)+".tsv",delimiter="\t")
print(population_dic[(year, month)].shape)
population_dic[(year, month)].head(30)

(265735, 7)

        park   mesh100mid  year  month  dayflag  hour  population
0   伊勢志摩国立公園  51362395334  2017      3        0    16           4
1   伊勢志摩国立公園  51362395334  2017      3        1     9          11
2   伊勢志摩国立公園  51362395334  2017      3        2     9           8
3   伊勢志摩国立公園  51362395334  2017      3        2    16           1
4   伊勢志摩国立公園  51362396400  2017      3        1     0          47
5   伊勢志摩国立公園  51362396400  2017      3        1     1          97
6   伊勢志摩国立公園  51362396400  2017      3        1     2          97
7   伊勢志摩国立公園  51362396400  2017      3        1     3          97
8   伊勢志摩国立公園  51362396400  2017      3        1     4          97
9   伊勢志摩国立公園  51362396400  2017      3        1     5          97
10  伊勢志摩国立公園  51362396400  2017      3        1     6          52
11  伊勢志摩国立公園  51362396400  2017      3        1     8          47
12  伊勢志摩国立公園  51362396400  2017      3        1     9           2
13  伊勢志摩国立公園  51362396400  2017      3        2     0          33
14  伊勢志摩国立公園  51362396400  2017      3        2     1          69
15  伊勢志摩国立公園  51362396400  2017      3        2     2          69
16  伊勢志摩国立公園  51362396400  2017      3        2     3          69
17  伊勢志摩国立公園  51362396400  2017      3        2     4          69
18  伊勢志摩国立公園  51362396400  2017      3        2     5          69
19  伊勢志摩国立公園  51362396400  2017      3        2     6          37
20  伊勢志摩国立公園  51362396400  2017      3        2     8          33
21  伊勢志摩国立公園  51362396400  2017      3        2     9           1
22  伊勢志摩国立公園  51362396410  2017      3        1     6          45
23  伊勢志摩国立公園  51362396410  2017      3        1     7          97
24  伊勢志摩国立公園  51362396410  2017      3        1     8          50
25  伊勢志摩国立公園  51362396410  2017      3        1     9          95
26  伊勢志摩国立公園  51362396410  2017      3        1    10          97
27  伊勢志摩国立公園  51362396410  2017      3        1    11          97
28  伊勢志摩国立公園  51362396410  2017      3        1    12          97
29  伊勢志摩国立公園  51362396410  2017      3        1    13          97

In [29]:
isesima = tourism_train.loc[tourism_train["park"] == "伊勢志摩国立公園",]
print(isesima.shape)
isesima.to_csv("../data/isesima.csv",index=False)
isesima.head()

(731, 3)

      datetime      park  visitors
3   2015-01-01  伊勢志摩国立公園     42652
11  2015-01-02  伊勢志摩国立公園     47035
19  2015-01-03  伊勢志摩国立公園     45368
27  2015-01-04  伊勢志摩国立公園     34960
35  2015-01-05  伊勢志摩国立公園     17740

In [30]:
towada = tourism_train.loc[tourism_train["park"] == "十和田八幡平国立公園",]
print(towada.shape)
towada.to_csv("../data/towada.csv",index=False)
towada.head()

(731, 3)

      datetime        park  visitors
1   2015-01-01  十和田八幡平国立公園     34757
9   2015-01-02  十和田八幡平国立公園     33795
17  2015-01-03  十和田八幡平国立公園     17114
25  2015-01-04  十和田八幡平国立公園      9306
33  2015-01-05  十和田八幡平国立公園      4732

In [31]:
nikko = tourism_train.loc[tourism_train["park"] == "日光国立公園",]
print(nikko.shape)
nikko.to_csv("../data/nikko.csv",index=False)
nikko.head()

(731, 3)

      datetime    park  visitors
2   2015-01-01  日光国立公園     29714
10  2015-01-02  日光国立公園     27011
18  2015-01-03  日光国立公園     22247
26  2015-01-04  日光国立公園     12236
34  2015-01-05  日光国立公園      6571

In [32]:
akan = tourism_train.loc[tourism_train["park"] == "阿寒摩周国立公園",]
print(akan.shape)
akan.to_csv("../data/akan.csv",index=False)
akan.head()

(731, 3)

      datetime      park  visitors
0   2015-01-01  阿寒摩周国立公園     11028
8   2015-01-02  阿寒摩周国立公園     11153
16  2015-01-03  阿寒摩周国立公園     12343
24  2015-01-04  阿寒摩周国立公園      6732
32  2015-01-05  阿寒摩周国立公園      4877

In [33]:
ooyama = tourism_train.loc[tourism_train["park"] == "大山隠岐国立公園",]
print(ooyama.shape)
ooyama.to_csv("../data/ooyama.csv",index=False)
ooyama.head()

(731, 3)

      datetime      park  visitors
4   2015-01-01  大山隠岐国立公園      3637
12  2015-01-02  大山隠岐国立公園      3244
20  2015-01-03  大山隠岐国立公園      1927
28  2015-01-04  大山隠岐国立公園       880
36  2015-01-05  大山隠岐国立公園       135

In [34]:
aso = tourism_train.loc[tourism_train["park"] == "阿蘇くじゅう国立公園",]
print(aso.shape)
aso.to_csv("../data/aso.csv",index=False)
aso.head()

(731, 3)

      datetime        park  visitors
5   2015-01-01  阿蘇くじゅう国立公園      1369
13  2015-01-02  阿蘇くじゅう国立公園      1643
21  2015-01-03  阿蘇くじゅう国立公園       967
29  2015-01-04  阿蘇くじゅう国立公園       324
37  2015-01-05  阿蘇くじゅう国立公園       100

In [35]:
kirisima = tourism_train.loc[tourism_train["park"] == "霧島錦江湾国立公園",]
print(kirisima.shape)
kirisima.to_csv("../data/kirisima.csv",index=False)
kirisima.head()

(731, 3)

      datetime       park  visitors
6   2015-01-01  霧島錦江湾国立公園     35352
14  2015-01-02  霧島錦江湾国立公園     29856
22  2015-01-03  霧島錦江湾国立公園     27027
30  2015-01-04  霧島錦江湾国立公園     12993
38  2015-01-05  霧島錦江湾国立公園      8112

In [36]:
kerama = tourism_train.loc[tourism_train["park"] == "慶良間諸島国立公園",]
print(kerama.shape)
kerama.to_csv("../data/kerama.csv",index=False)
kerama.head()

(731, 3)

      datetime       park  visitors
7   2015-01-01  慶良間諸島国立公園       151
15  2015-01-02  慶良間諸島国立公園       657
23  2015-01-03  慶良間諸島国立公園       126
31  2015-01-04  慶良間諸島国立公園        75
39  2015-01-05  慶良間諸島国立公園         0

In [41]:
lag = 8
target = "aso"

data = pd.DataFrame()
data[target] = pd.read_csv("../data/"+target+".csv")["visitors"]
data.index = pd.to_datetime(pd.read_csv("../data/"+target+".csv")["datetime"])
data.head()

             aso
datetime
2015-01-01  1369
2015-01-02  1643
2015-01-03   967
2015-01-04   324
2015-01-05   100

In [42]:
feature = pd.DataFrame()
for lag in list(range(1,lag+1)):
    feature.loc[:,target + "lag"+str(lag)] = data[target].shift(-lag)
feature.loc[:,"y"] = data[target].shift(-lag)
feature.index = feature.index + offsets.Day(lag)
feature

,asolag1,asolag2,asolag3,asolag4,asolag5,asolag6,asolag7,asolag8,y
datetime,,,,,,,,,
2015-01-09,1643.0,967.0,324.0,100.0,0.0,25.0,0.0,50.0,50.0
2015-01-10,967.0,324.0,100.0,0.0,25.0,0.0,50.0,448.0,448.0
2015-01-11,324.0,100.0,0.0,25.0,0.0,50.0,448.0,174.0,174.0
2015-01-12,100.0,0.0,25.0,0.0,50.0,448.0,174.0,0.0,0.0
2015-01-13,0.0,25.0,0.0,50.0,448.0,174.0,0.0,50.0,50.0
2015-01-14,25.0,0.0,50.0,448.0,174.0,0.0,50.0,50.0,50.0
2015-01-15,0.0,50.0,448.0,174.0,0.0,50.0,50.0,100.0,100.0
2015-01-16,50.0,448.0,174.0,0.0,50.0,50.0,100.0,446.0,446.0
2015-01-17,448.0,174.0,0.0,50.0,50.0,100.0,446.0,347.0,347.0
2015-01-18,174.0,0.0,50.0,50.0,100.0,446.0,347.0,11.0,11.0
2015-01-19,0.0,50.0,50.0,100.0,446.0,347.0,11.0,0.0,0.0
2015-01-20,50.0,50.0,100.0,446.0,347.0,11.0,0.0,0.0,0.0
2015-01-21,50.0,100.0,446.0,347.0,11.0,0.0,0.0,0.0,0.0
2015-01-22,100.0,446.0,347.0,11.0,0.0,0.0,0.0,50.0,50.0
2015-01-23,446.0,347.0,11.0,0.0,0.0,0.0,50.0,0.0,0.0
2015-01-24,347.0,11.0,0.0,0.0,0.0,50.0,0.0,75.0,75.0
2015-01-25,11.0,0.0,0.0,0.0,50.0,0.0,75.0,0.0,0.0
2015-01-26,0.0,0.0,0.0,50.0,0.0,75.0,0.0,0.0,0.0
2015-01-27,0.0,0.0,50.0,0.0,75.0,0.0,0.0,0.0,0.0
2015-01-28,0.0,50.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0
2015-01-29,50.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-30,0.0,75.0,0.0,0.0,0.0,0.0,0.0,249.0,249.0
2015-01-31,75.0,0.0,0.0,0.0,0.0,0.0,249.0,668.0,668.0
2015-02-01,0.0,0.0,0.0,0.0,0.0,249.0,668.0,357.0,357.0
2015-02-02,0.0,0.0,0.0,0.0,249.0,668.0,357.0,0.0,0.0
2015-02-03,0.0,0.0,0.0,249.0,668.0,357.0,0.0,211.0,211.0
2015-02-04,0.0,0.0,249.0,668.0,357.0,0.0,211.0,84.0,84.0
2015-02-05,0.0,249.0,668.0,357.0,0.0,211.0,84.0,0.0,0.0
2015-02-06,249.0,668.0,357.0,0.0,211.0,84.0,0.0,169.0,169.0
2015-02-07,668.0,357.0,0.0,211.0,84.0,0.0,169.0,1728.0,1728.0
...,...,...,...,...,...,...,...,...,...
2016-12-10,459.0,410.0,401.0,97.0,0.0,83.0,425.0,509.0,509.0
2016-12-11,410.0,401.0,97.0,0.0,83.0,425.0,509.0,194.0,194.0
2016-12-12,401.0,97.0,0.0,83.0,425.0,509.0,194.0,180.0,180.0
2016-12-13,97.0,0.0,83.0,425.0,509.0,194.0,180.0,111.0,111.0
2016-12-14,0.0,83.0,425.0,509.0,194.0,180.0,111.0,129.0,129.0
2016-12-15,83.0,425.0,509.0,194.0,180.0,111.0,129.0,69.0,69.0
2016-12-16,425.0,509.0,194.0,180.0,111.0,129.0,69.0,180.0,180.0
2016-12-17,509.0,194.0,180.0,111.0,129.0,69.0,180.0,351.0,351.0
2016-12-18,194.0,180.0,111.0,129.0,69.0,180.0,351.0,139.0,139.0
2016-12-19,180.0,111.0,129.0,69.0,180.0,351.0,139.0,170.0,170.0
2016-12-20,111.0,129.0,69.0,180.0,351.0,139.0,170.0,172.0,172.0
2016-12-21,129.0,69.0,180.0,351.0,139.0,170.0,172.0,125.0,125.0
2016-12-22,69.0,180.0,351.0,139.0,170.0,172.0,125.0,79.0,79.0
2016-12-23,180.0,351.0,139.0,170.0,172.0,125.0,79.0,714.0,714.0
2016-12-24,351.0,139.0,170.0,172.0,125.0,79.0,714.0,613.0,613.0
2016-12-25,139.0,170.0,172.0,125.0,79.0,714.0,613.0,264.0,264.0
2016-12-26,170.0,172.0,125.0,79.0,714.0,613.0,264.0,111.0,111.0
2016-12-27,172.0,125.0,79.0,714.0,613.0,264.0,111.0,290.0,290.0
2016-12-28,125.0,79.0,714.0,613.0,264.0,111.0,290.0,58.0,58.0
2016-12-29,79.0,714.0,613.0,264.0,111.0,290.0,58.0,500.0,500.0
2016-12-30,714.0,613.0,264.0,111.0,290.0,58.0,500.0,1018.0,1018.0
2016-12-31,613.0,264.0,111.0,290.0,58.0,500.0,1018.0,1386.0,1386.0
2017-01-01,264.0,111.0,290.0,58.0,500.0,1018.0,1386.0,NaN,NaN
2017-01-02,111.0,290.0,58.0,500.0,1018.0,1386.0,NaN,NaN,NaN
2017-01-03,290.0,58.0,500.0,1018.0,1386.0,NaN,NaN,NaN,NaN
2017-01-04,58.0,500.0,1018.0,1386.0,NaN,NaN,NaN,NaN,NaN
2017-01-05,500.0,1018.0,1386.0,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-06,1018.0,1386.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-07,1386.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN